/* styles.css */
* {
    background-color: #fff2ee;
    color: #1d781d;
    font-family:'Courier New', Courier, monospace;

    margin-left: 15px;
    margin-right: 30px;
}

h1 {
    font-size: 45px;
}

p {
    color: black;
}

img {
    height: 400px;
    width: auto;
    border: 3px solid #20603c;
}

li {
    color: black;
    margin-bottom: 10px;
}

li a {
    color: black;
}

