/* styles.css */
* {
    background-color:beige;
    color:rgb(107, 14, 14);
    font-family:'Courier New', Courier, monospace;

    margin-left: 5px;
}

h1 {
    font-size: 45px;
}

img {
    height: 500px;
    width: auto;
}

li {
    margin-bottom: 10px;
}