/* styles.css */
* {
    background-color: #f7e0ff;
    color: #20603c;
    font-family:'Courier New', Courier, monospace;

    margin-left: 5px;
}

h1 {
    font-size: 45px;
}

img {
    height: 400px;
    width: auto;
    border: 3px solid #20603c;
}

li {
    margin-bottom: 10px;
}